/* For Chrome, Safari, Edge, and Opera */
.hide input[type="number"]::-webkit-outer-spin-button,
.hide input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
.hide input[type="number"] {
  -moz-appearance: textfield;
}

.prev{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

@media screen and (max-width: 500px) {
  .prev{
    grid-template-columns: 1fr;
  }
}
