.admin-nav {
    width: 25%;
    transition: all 0.3s ease;
}

.admin-nav.closed {
    width: 0;
}

.admin-nav.open {
    width: 25%;
}



@media screen and (max-width: 768px) {
    /* .admin-nav {
        width: 40%;
    }

    .admin-nav.closed {
        width: 40%;
    }

    .admin-nav.open {
        width: 0;
    } */

    .admin-nav{
        display: none;
    }

    .hideicon{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    /* .admin-nav {
        width: 400px;
    } */

    .adheader{
        padding: 5px 0;
    }

    .adprofile{
        flex-direction: column-reverse;
    }

    .adprofile h4{
        font-size: 14px;
    }



    /* .admin-nav.closed {
        width: 400px;
    }

    .admin-nav.open {
        width: 0;
    } */

    /* .admin-nav a{
        font-size: 14px;
    } */

    .adlist{
        margin: 0;
    }

    .adlist-input-icon div input{
        width: 150px;
        padding: 0 5px;
    }

    .adlist-input-icon div a{
        font-size: 10px;
    }

    .adlist-title{
        font-size: 20px;;
    }

    .table table thead th td{
        font-size: 10px;
    }
}
